<app-titulo [titulo]="titulo"></app-titulo>
<ul>
    <li *ngFor="let aluno of alunos">
        {{aluno.nome}}
    </li>
</ul>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{aluno.id}}</th>
        <td>{{professor}}</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  
 